apiVersion: v1
kind: Service
metadata:
  labels:
    cnpg.io/cluster: mpcorb
  annotations:
    metallb.universe.tf/address-pool: sdf-dmz
    metallb.io/loadBalancerIPs: 134.79.23.225
  name: cnpg-load-balancer-gcp-access
  namespace: mpcorb-replica
spec:
  loadBalancerSourceRanges:
    - 34.19.55.28/32
    - 34.28.185.156/32
    - 35.225.165.2/32
  allocateLoadBalancerNodePorts: false
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ports:
    - port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: mpcorb
    cnpg.io/instanceRole: primary
  sessionAffinity: None
  type: LoadBalancer
